* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.934);
  padding: 15px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  width: 100px;
  object-fit: contain;
  cursor: pointer;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsright {
  margin-left: 20px;
}
